// 这里是 覆盖elementUI或者部分样式内容

#app {

    #site-border-left,
    #site-border-right,
    #site-border-top,
    #site-border-bottom {
        z-index: 99999 !important;
    }

    // 卡片样式调整
    #myCarousel {
        .item {
            .card-container {
                background: linear-gradient(rgba(255, 255, 255, 0.75) 0%, rgb(255, 255, 255) 55%);
                border-radius: 3%;
            }
        }
    }

    // 视频播放页的按钮样式在pc端出现丑陋样式
    .vjs-control-bar {
        button {
            outline: none !important;
        }
    }
}