// 这里是 覆盖elementUI或者部分样式内容
p {
    line-height: 1.8;
}
#app {
    width: 100%;
    height: 100vh;
    #site-border-left,
    #site-border-right,
    #site-border-top,
    #site-border-bottom {
        z-index: 99999 !important;
    }

    // 卡片样式调整
    #myCarousel {
        .item {
            .card-container {
                background: linear-gradient(rgba(255, 255, 255, 0.75) 0%, rgb(255, 255, 255) 55%);
                // border-radius: 3%;
            }
        }
    }

    // 视频播放页的按钮样式在pc端出现丑陋样式
    .vjs-control-bar {
        button {
            outline: none !important;
        }
    }
}

// 视频列表也的底部文字样式
.other_link{
    p{
        // text-align: center;
        font-size: 18px;
        margin: 0px 5px;
        a{
            text-decoration: none;
        }
    }
}

// videojs的封面铺满
.vjs-poster{
    background-size: cover;
}

/* nav去掉底部白色边框 */
.el-menu.el-menu--horizontal{
    border-bottom: none !important;
}

// 抽屉组件滚动样式
.demo-drawer{
    .el-drawer__body {
      overflow-y: scroll !important;
    }
}

// 全局设置elementUI滚动样式
.el-scrollbar__wrap{
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}


.el-upload__input {
    display: none !important;
}

// 文章编辑模块 上传组件样式
.avatar-uploader .el-upload.el-upload--picture-card {
    width: 148px;
    height: 96px;
    line-height: 96px;
}

.el-upload-list--picture-card .el-upload-list__item {
    width: 148px;
    height: 96px;
    /* line-height: 96px; */
}

.noshow .el-upload--picture-card {
    display: none;
}

/* element上传组件 */
.avatar-uploader .el-upload {
    /* border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer; */
    position: relative;
    /* overflow: hidden; */
}

// 分类管理模块 上传组件样式
#category {
    .avatar-uploader .el-upload.el-upload--picture-card {
        width: 400px;
        height: 90.6px;
        line-height: 90.6px;
        .reupload.icon{
            width: 80px !important;
            width: 80px !important;
        }
    }
}

/* table 单元格样式重写 - 超出设置省略号 */
.cell_nowrap>div.cell {
    white-space: nowrap;
}
.cell_content>div.cell{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* tabel 单元格 - 按钮控件不换行 */
.btn_flex>div.cell {
    display: flex;
    justify-content: space-around;
}

div.cell>p {
    margin-bottom: 0;
}

/* 留言管理面板 - disabled样式修改 */
#massage_list .disabled input {
    color: #333;
    cursor: default;
}

/* 评论详情的input去掉margin */
#comment_detail .el-form-item__content{
    margin: 0 !important;
}

#comment_detail .content_detail input{
    color:#333 !important;
    cursor: default !important;
}

/* 引入公共的emoji样式 */
@import url("./emoji.css")