/*webkit内核*/
*::-webkit-scrollbar {
    width:0px;
    height:0px;
}
*::-webkit-scrollbar-button    {
    background-color:rgba(0,0,0,0);
}
*::-webkit-scrollbar-track     {
    background-color:rgba(0,0,0,0);
}
*::-webkit-scrollbar-track-piece {
    background-color:rgba(0,0,0,0);
}
*::-webkit-scrollbar-thumb{
    background-color:rgba(0,0,0,0);
}
*::-webkit-scrollbar-corner {
    background-color:rgba(0,0,0,0);
}
*::-webkit-scrollbar-resizer  {
    background-color:rgba(0,0,0,0);
}
*::-webkit-scrollbar {
    width:10px;
    height:10px;
}
/*o内核*/
* .-o-scrollbar{
    -moz-appearance: none !important;   
    background: rgba(0,255,0,0) !important;  
}
*::-o-scrollbar-button    {
    background-color:rgba(0,0,0,0);
}
*::-o-scrollbar-track     {
    background-color:rgba(0,0,0,0);
}
*::-o-scrollbar-track-piece {
    background-color:rgba(0,0,0,0);
}
*::-o-scrollbar-thumb{
    background-color:rgba(0,0,0,0);
}
*::-o-scrollbar-corner {
    background-color:rgba(0,0,0,0);
}
*::-o-scrollbar-resizer  {
    background-color:rgba(0,0,0,0);
}
/*IE10,IE11,IE12*/
.scroll_content{
    -ms-scroll-chaining: chained;
    -ms-overflow-style: none;
    -ms-content-zooming: zoom;
    -ms-scroll-rails: none;
    -ms-content-zoom-limit-min: 100%;
    -ms-content-zoom-limit-max: 500%;
    -ms-scroll-snap-type: proximity;
    -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
    -ms-overflow-style: none;
    overflow: auto;
}