/* 重新elementUI的部分样式 */
.el-drawer__body {
    overflow-y: scroll !important;
}

.el-upload__input {
    display: none !important;
}

.avatar-uploader .el-upload.el-upload--picture-card {
    width: 148px;
    height: 96px;
    line-height: 96px;
}

.el-upload-list--picture-card .el-upload-list__item {
    width: 148px;
    height: 96px;
    /* line-height: 96px; */
}

.noshow .el-upload--picture-card {
    display: none;
}

/* element上传组件 */
.avatar-uploader .el-upload {
    /* border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer; */
    position: relative;
    /* overflow: hidden; */
}